services:
  sync:
    build: .
    volumes:
      - ./config.yaml:/config.yaml:ro
      - ./timestamps.yaml:/timestamps.yaml
    # entrypoint: ["python", "./gen_hashes.py"] # for generating hashes
    command: --config /config.yaml # --loglevel debug
    environment:
      # CRON: "0 5 * * *"
      TZ: Europe/Berlin
